
NewsParser/NewsParser.xcodeproj/xcuserdata/rodion.xcuserdatad/xcschemes/xcschememanagement.plist
NewsParser/NewsParser.xcodeproj/xcuserdata/rodion.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewsParser/NewsParser.xcodeproj/project.xcworkspace/xcuserdata/rodion.xcuserdatad/UserInterfaceState.xcuserstate
NewsParser/Pods/